
.fondo{
  background-color: blueviolet;
  border: 1px solid blueviolet;
  padding: 75px;
  text-align: center;
}

.circulo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white;
  margin: 10px;
  border: 4px solid black;
  display: inline-block;
  text-align: center;
}

.rojo{
  background: red;
}

.con-sombra{
  background-color;: green);
  box-shadow: 1px 1px 10px red;
  
}
.especial{
  background-color: yellow;
  border-color: red
  
}


.ejercicio2 {
  
  border: 4em solid red;
  padding:4em;
  margin: 4em;
}

/* Ejercicio 3 */
.caja {
width: 100px;
height: 70px;
border-radius: 1em;
border: solid 1px black;
display: inline-block;
padding: 15px;
margin: 15px;
text-align: center;
text-shadow: 1px 1px 0px ,0,0.3)ccc;
}
#caja1{
  background-color: red;
}
#caja2{
  background-color: rgba(255,0,0,.5)
}
#caja3{
  background-color: #FF0000;}

  .columna{
    border: 1px solid black;
    background-color: red;

  }