<html>
   <head>
      <title>Moneda</title>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
   </head>
   <body>
      <style>
         #databinding{
            padding: 20px 15px 15px 15px;
            margin: 0 0 25px 0;
            width: auto;
            background-color: #e7e7e7;
         }
         span, option, input {
            font-size:25px;
         }
      </style>
      
      <div id = "databinding" >
         <h1>Hola, {{name}}</h1> 
         <h1>Currency Converter</h1>         
         <span>Enter Amount:</span>
         <input type = "number"  v-model="cantidad" placeholder = "Enter Amount" /><br/><br/>
         <span>Convert From:</span>
         <select style="width:300px;font-size:25px;" v-model="currentfrom">
            <option v-for = "moneda in currencyfrom" :value="moneda.name" >{{moneda.desc}}</option>
         </select>
         <span>Convert To:</span>
         <select  style = "width:300px;font-size:25px;" v-model="currentto">
            <option  v-for = "moneda in currencyfrom" :value="moneda.name" >{{moneda.desc}}</option>
         </select><br/><br/>
         {{currentfrom}}
         {{currentto}}
         {{cantidad}}
      </div>
   
      <script src="moneda.js"></script>
     
   </body>
</html>