/* Configuracion inicial -phone- */
.padre{
    /* background: #ffea85;   */
    min-width: 390px;
    max-width: 1200px;
    }

*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    font-family: 'Poppins', arial,sans-serif;
   
    font-size: 8;

}
body{
    margin: 5px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.logo img{
    width: 1.5rem;
    text-align: center;
}

.articulo img{
    width: 10rem;
}

a{
    text-decoration: none;
}
li :hover{
color: red;
font-weight: 600;
}



.header{
    /* background-color: #000; */
    /* border:blue dashed; */
}
    .menu{
        /* background: #2d4059; */
     }
        padding: .2rem;
   
        
      
        
        .logo{
            /* background: #ea5455; */
            padding: 5px;
            /* border: 1px solid black; */
           
        }
       
        .nav{
            /* background:white; */
            /* border-bottom: 1px solid black; */
            
        }
        
        .social{
            /* background: #ea5455; */
            /* border: 1px solid black; */
            display: flex;
            justify-content: flex-end
            align-items:center
        }

        .social,  li{
            padding-left: 1.2rem
        }
        .banner{
            /* background: #f07b3f; */
            height: 8rem;
            /* border: 1px solid black; */
            background-image: url(img/ciclismo-short.jpeg);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            h1{
                /* background:#ffd460 ; */
                 font-size: xx-large;
                 color: white;
            }
.seccion{
    /* border: 1px solid black; */
     /* background-color: #000; */
      /* border:blue dashed; */
      padding-top: 1.5rem;
}
    .articulos{
        /* border: 1px solid black; */
         /* background: #4e4e6a; */
         font-weight: 200;
    }
        .articulo{
            border-right: 1px solid black;
            padding: 0.5rem;
            max-width: 400px;
            height: ;
            /* background: #1f6cb0; */
        }
            .img, .precio{
                width: 100%;
            }
            .precio{
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                font-weight: bold;
            }
            .titulo{
                text-align: center;
                font-weight: bold;
            }

            .descripcion{
                font-style: italic;
                font-size: 0.8rem;
            }
            input{
                width: 100%;
                padding: 0.5rem;
            }
        .navegacion{
            /* background: #70a3c4;     */
            /* border: 1px solid black; */
        }
    .aside{
        /* background: #f73f52; */
       
    }
        .publicidad{
            /* background:#ffea85  ; */
            padding: 0.5rem;
        }
        .publicidad img{
            width: 10rem;
        }
    .footer{
        /* background-color: #000; */
         /* border:blue dashed; */
    }
        .pie{
            border-bottom: 1px solid black;
            /* background: #e6af2e; */
        }
            .paises{
                flex-direction: column;
            }
            .links{
                flex-direction: column;
            }
            .apps{
                flex-direction: column;
            }

            .us{
                justify-content: flex-start;
            }


  /* Para pasar a tablet */
@media screen  and (min-width:600px){
    .menu {
        display: flex;
        flex-wrap: nowrap;
       
    }
    .logo{
        flex: 1;
    }
    .nav{
        flex:11;
       
    }
    .social{
        flex: 2;
    }
    .pie{
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Para pasar a escritorio */
@media screen  and (min-width:800px){
    .seccion{
        display: flex;
    }
    .articulos{
        display: flex;
        flex-wrap: wrap;
        /* flex: 3; */
        width: 75%;
    }
    .articulo{
        flex:1 1 30%;
    }
    .navegacion{
        flex: 1 1 100%;
    }
    .aside{
        /* flex: 1; */
        width: 25%;
    }
    
} 

  

