*{
    box-sizing: border-box;
    margin: 10px;
    padding:10px;
    font-family: 'Poppins', arial,sans-serif;
    font-size: 10;

}

/* Configuracion inicial -phone- */
.padre{
    background: #ffea85;  
}

.header{
    background-color: #000;
    border:blue dashed;
}
    .menu{
        background: #2d4059;
        border: 1px dashed white;
        
    }
        .logo{
            background: #ea5455;
        }
        .nav{
            background:white;
            
        }
        
        .social{
            background: #ea5455;
        }
        .banner{
            /* background: #f07b3f; */
            background-image: url(img/montain.jpg);
        }
            /* h1{
                background:#ffd460 ;
            } */
.seccion{
     background-color: #000;
      border:blue dashed;
}
    .articulos{
         background: #4e4e6a;
         font-weight: 200;
    }
        .articulo{
            background: #1f6cb0;
        }
        .navegacion{
            background: #70a3c4;    
        }
    .aside{
        background: #f73f52;
    }
        .publicidad{
            background:#ffea85  ;
        }
    .footer{
        background-color: #000;
         border:blue dashed;
    }
        .pie{
            background: #e6af2e;
        }

  /* Para pasar a tablet */
@media screen  and (min-width:600px){
    .menu {
        display: flex;
        flex-wrap: nowrap;
    }
    .logo{
        flex: 1;
    }
    .nav{
        flex:5;
       
    }
    .social{
        flex: 1;
    }  
}

/* Para pasar a escritorio */
@media screen  and (min-width:800px){
    .seccion{
        display: flex;
    }
    .articulos{
        display: flex;
        flex-wrap: wrap;
        flex: 2;
    }
    .articulo{
        flex:1 1 40%;
    }
    .navegacion{
        flex: 1 1 100%;
    }
    .aside{
        flex: 1;
    }
    
} 

  

