/* Configuracion generale- */
.padre {
  /* display: flex;
  flex-flow: column nowrap; */
  min-width: 400px;
  max-width: 1200px;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Insolata","Poppins", arial, sans-serif;
  font-size: 8;
}
@font-face{
  font-family: "MajorMonoDisplay";
  src: url(./fonts/MajorMonoDisplay-Regular.ttf);
}
body {
  margin: 1rem;
  font-family: "Insolata";
}
a {
  text-decoration: none;
}
li :hover {
  color: red;
  font-weight: bold;
}
ul {
  list-style: none;
  display: flex;
  
  justify-content: space-around;
}
.logo img {
  width: 2rem;
}

/* Header */
header {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1rem;
}
.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.logo {
  /* flex: 1 1 auto; */
  font-size:3rem;
  font-family:"MajorMonoDisplay",Arial, Helvetica, sans-serif
}
.nav {
  flex: 11 1 auto;
}
.social {
  flex: 1 1 auto;
}
/* Seccion banner */
section.banner {
  height: 8rem;
  background-image: url(./img_optica/banner1.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
   
}
h1 {
  font-size: xx-large;
  color: white;
}
/* ----------------------------------------------- */
.seccion{
    display: flex;
    flex-flow: column nowrap;
    padding-top: 1rem;
    border-bottom: .2rem solid grey;
}
.catalog{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    flex: 3 1 auto;
}
.catalog img {
  width: 250px;
}
.aside{
    flex: 1 1 auto;
}
/* .product{
  display: inline-flex;
  justify-content: center;
  flex-flow: column;
    border: 1px solid grey;
    padding: 1rem;
    flex-basis:45%;
} */

.card{
  border: 1px solid grey;
  justify-content: center;
}
.precio{
     font-weight: bold;
     flex-flow: column;
     justify-content: flex-end;
}
input{
    /* width: 100%; */
    padding: 1.1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.pie{
    display: flex;
    flex-flow:column wrap;
   border-bottom: .2rem solid grey;
   
    justify-content: space-around;
}
.map{
    flex-flow: column nowrap;
    
}
.us{
    display: flex; 
}
.ft-legal{
    padding-top: 1rem;
}

@media screen and (min-width:768px){
    .menu{
        flex-flow:row;
    }  .pie{
      flex-flow: row wrap;
  }
}
@media screen and (min-width:992px){  
    .seccion{
        flex-flow:row;
    }
   
}
